{% extends "layout.html" %}

{% block title %}
    BUY
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% for hist in history %}
        <tr>
            <td class="text-start">{{ hist.Symbol }}</td>
            <td class="text-end">{{ hist.Shares }}</td>
            <td class="text-end">{{ hist.Price | usd }}</td>
            <td class="text-end">{{ hist.Date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}