{% extends "layout.html" %}

{% block title %}
    REGISTER
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input name="username" type="text">
        </div>
        <div class="mb-3">
            <input name="password" type="text">
        </div>
        <div class="mb-3">
            <input name="confirmation" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}